In [5]:
import mysql
import mysql.connector

cnx = mysql.connector.connect(user='root', password='',
                              host='127.0.0.1',
                              database='menu')

cur = cnx.cursor()

# Use all the SQL you like
cur.execute("SELECT * FROM fish ")

# print all the first cell of all the rows
for row in cur.fetchall():
    print(row[0],"-->",row[1],"@",row[2],"each")
    
print("---------------------------------------")
print(" WHERE price > 7")
print("---------------------------------------")
cur.execute("SELECT * FROM fish WHERE price > 7")

# print all the first cell of all the rows
for row in cur.fetchall():
    print(row[0],"-->",row[1],"@",row[2],"each")

1 --> catfish @ 8.5 each
2 --> catfish @ 8.5 each
3 --> tuna @ 8.0 each
4 --> catfish @ 5.0 each
5 --> bass @ 6.75 each
6 --> haddock @ 6.5 each
7 --> salmon @ 9.5 each
8 --> trout @ 6.0 each
9 --> tuna @ 7.5 each
10 --> yellowfin tuna @ 12.0 each
11 --> yellowfin tuna @ 13.0 each
12 --> tuna @ 7.5 each
---------------------------------------
 WHERE price > 7
---------------------------------------
1 --> catfish @ 8.5 each
2 --> catfish @ 8.5 each
3 --> tuna @ 8.0 each
7 --> salmon @ 9.5 each
9 --> tuna @ 7.5 each
10 --> yellowfin tuna @ 12.0 each
11 --> yellowfin tuna @ 13.0 each
12 --> tuna @ 7.5 each

# Modifying the results

In [6]:
import mysql
import mysql.connector

cnx = mysql.connector.connect(user='root', password='',
                              host='127.0.0.1',
                              database='menu')

cur = cnx.cursor()

# Use all the SQL you like
cur.execute("SELECT * FROM fish ")

# print all the first cell of all the rows
for row in cur.fetchall():
    print(row[0],"-->",row[1],"@",row[2],"each")
    
print("---------------------------------------")
print(" WHERE price > 7")
print("---------------------------------------")
cur.execute("SELECT * FROM fish WHERE price > 7")

# print all the first cell of all the rows
for row in cur.fetchall():
    print(row[0],"-->",row[1],"@",row[2],"each")

1 --> catfish @ 8.5 each
2 --> catfish @ 8.5 each
3 --> tuna @ 8.0 each
4 --> catfish @ 5.0 each
5 --> bass @ 6.75 each
6 --> haddock @ 6.5 each
7 --> salmon @ 9.5 each
8 --> trout @ 6.0 each
9 --> tuna @ 7.5 each
10 --> yellowfin tuna @ 12.0 each
11 --> yellowfin tuna @ 13.0 each
12 --> tuna @ 7.5 each
---------------------------------------
 WHERE price > 7
---------------------------------------
1 --> catfish @ 8.5 each
2 --> catfish @ 8.5 each
3 --> tuna @ 8.0 each
7 --> salmon @ 9.5 each
9 --> tuna @ 7.5 each
10 --> yellowfin tuna @ 12.0 each
11 --> yellowfin tuna @ 13.0 each
12 --> tuna @ 7.5 each

In [7]:
operation = input("entrez l'operation = :")
value = input("value: ")
cur.execute("SELECT * FROM fish WHERE price %s %s" %(operation, value))
# print all the first cell of all the rows
for row in cur.fetchall():
    print(row[0],"-->",row[1],"@",row[2],"each")

entrez l'operation = :=
value: 7

In [8]:
statement = """SHOW TABLES"""
cur.execute(statement)
table_list = []
for record in cur.fetchall():
    table_list.append(record[0])